<a href="https://colab.research.google.com/github/palash-21/EDA_hotel_bookings/blob/main/Contact_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install scrapingbee
import pandas as pd
from scrapingbee import ScrapingBeeClient
from bs4 import BeautifulSoup
#client = ScrapingBeeClient(api_key='UUYBVYRC5KFNR1A4T73RDCTFPXNMS56HQIV9PQHITYZCK0NIDOQ0V8V3WF9QYSXR0C768ZYXI4BVG1ZR')
client = ScrapingBeeClient(api_key='2HAV61LUJEMJRNLCU6IKIADBXPZSWBWT3I55ZKMWAFSCKCWLMUGB21KVS9VXX42X7HX5ES7A2KLODU7E')

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting scrapingbee
  Downloading scrapingbee-1.1.7-py3-none-any.whl (5.1 kB)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from scrapingbee) (2.23.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->scrapingbee) (2022.6.15)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->scrapingbee) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->scrapingbee) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->scrapingbee) (3.0.4)
Installing collected packages: scrapingbee
Successfully installed scrapingbee-1.1.7

In [2]:
df = pd.read_excel('/content/Get Phone Numbers.xlsx')

In [3]:
df.shape

(1013, 11)

In [ ]:
df.head()

,Company Name,Address,City,Pin,Country,Email1,Email2,Websites,Business Details,Contact No,Alternate Contact No
0,Edubiz,"Mullan Derrylin,",Enniskillen,BT92 9BJ,United Kingdom,sales@edubiz.co.uk,NaN,http://www.edubiz.co.uk,Office supplies items Office Equipment & Supplies,NaN,NaN
1,Ecorider Ltd.,"Balmakeith Industrial Estate,",Inverness,IV12 5QW,United Kingdom,sales@ecorider.com,NaN,http://www.ecorider.com,"Diesel engines, terrain vehicles Diesel Engine...",NaN,NaN
2,Eclipse Magnetics Ltd,"Units 1-4, Vulcan Road,",Sheffield,S21 4gq,United Kingdom,sales@eclipse-magnetics.co.uk,NaN,http://www.eclipse-magnetics.co.uk,Magnets & Magnetic Devices and products Magnet...,NaN,NaN
3,Dockequipment.Eu,"Bouwweg 14,8243 PJ Lelystad,The Netherlands",NaN,NaN,Netherland,sales@dockequipments.eu,NaN,www.dockequipment.eu,"Swing lip Dock Levelers Telescopic Lip, Dock L...",NaN,NaN
4,Dmr Seals,"unit 24, julian road, sheffield,",Rotherham,s91fz,United Kingdom,sales@dmrseals.co.uk,NaN,NaN,All kinds of seals Gaskets & Seals,NaN,NaN

In [7]:
df['Name_City'] = df['Company Name'].astype(str) +"_"+ df["City"]

In [4]:
def Comp_Name_Chnge(comp_name):
  
  edited_name= comp_name.replace(' Ltd.','')
  edited_name = edited_name.replace(' Ltd','')
  edited_name = edited_name.replace(' ','_')
  return edited_name

In [9]:
def GetnerateLink(comp):
  origin_link = 'https://search.indiatradepage.com/all/'
  comp_search_link = origin_link + comp + '/' 
  return comp_search_link

In [10]:
comp_list = df['Name_City'][100:104]
comp_list = comp_list.apply(Comp_Name_Chnge)
comp_search_links = comp_list.apply(GetnerateLink)
#comp_search_links = df.apply(lambda x: GetnerateLink(x.col_1, x.col_2)
cont_list_200_400 = []
i =100
for companies in comp_search_links:
  contact = ''
  response = client.get(companies)
  if response.status_code == 200:
    soup=BeautifulSoup(response.text)
    mydivs = soup.find_all("div", {"class": "c_list"})
    if len(mydivs) == 2:
      if 'Phone' in  mydivs[1].text:
        #if comp_city[i].lower() in mydivs[1].text.lower():
        start_ind = mydivs[1].text.find('Phone :')
        end_ind = mydivs[1].text[start_ind:].find(',')
        contact = mydivs[1].text[start_ind + 8: start_ind + end_ind ]
  if contact:
    cont_list_200_400.append(contact)
  else :
    cont_list_200_400.append('NA')
  i +=1

In [11]:
len(cont_list_200_400)

4

In [ ]:
df['Contact No'][200:400] = cont_list_200_400

In [ ]:
df.to_csv('out.csv')